/******TAG SELECTORS*******/

body{
  margin: 0;
}
h1{
  color: #FBEEE6;
  font-size: 6.25rem;
  font-family: 'Architects Daughter', cursive;
  margin: 0 auto 0 auto;
  display:inline-block;
}
h2{
  font-size: 4rem;
  margin: 0;
}

img{
  height: 150px;
  width: 150px;
}

p{
  font-size: 1.75rem;
  font-family: 'Montserrat Alternates', sans-serif;
  margin-top:0;
}

/*****CLASS SELECTORS********/
.bad:hover{
  background-color: gold;}

.good:hover{
    background-color: gold;}


.bad{
  background-color: red;
}
.good{
  background-color: green;
}
.first{
  position: fixed;
  width: 100%;
  background-color: #EC7063;
  height: 150px;
  text-align: center;
  border: 0;
  border-bottom: 0.5rem;
  border-color: lightgrey;
  border-style: solid;
}
.second{
  text-align: center;
  padding: 200px 0 20px 0;
  background-color: pink;

}
.third{
  padding: 2rem;
  background-color: pink;
}
h3{
  margin: 0 auto 2rem 2rem;
}
.pizza1{
  position: relative;
  right:20px;
  height: 5rem;
  width: 5rem;

}
.pizza2{
  position: relative;
  left:20px;
  height: 5rem;
  width: 5rem;

}
